body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 400px; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 20px;
}

.phase {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add space between phases */
}

h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.progress-bar {
    margin: 10px 0;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.progress {
    width: 50%; /* Change the width to control the progress */
    height: 100%;
    background-color: #3498db; /* Change the color to indicate progress */
    border-radius: 10px;
}
