<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrical Budgets</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="dashboard">
        <div class="add-phase">
            <!-- <input type="file" id="fileInput" style="display: none;"> -->
        </div>
        <p id="selectedFile"></p>
        <div id="phasesContainer"></div>
    </div>
    <script src="/static/script_electrical.js"></script>
</body>
</html>
