<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Button Page</title>
</head>
<body>
    <div class="button-container">
        <a href="{{ url_for('civil') }}" class="button">Civil</a>
        <a href="/mechanical" class="button">Mechanical</a>
        <a href="/electrical" class="button">Electrical</a>
    </div>
</body>
</html>
